body {
    background-color: #EEE
}

.techSpacing > li {
    margin: 7px;
    font-size: 15px;
}

@media only screen and (max-width: 890px) {
    .mediaHeader {
        width: 100%;
        margin: 0 auto;
    }

    .mediaNav {
        flex-direction: column;
        font-size: 35px !important;
    }

    .mediaFooter {
        width: 40px !important;
        height: 40px !important;
    }

    .mediaHome {
        height: 200px !important;
        margin: 20px !important;
        width: 90% !important;
    }

    .mediaAbout, .mediaIntro {
        padding: 10px !important;
        margin: 10px !important;
    }

    .mediaContactPhoto {
        height: 300px !important;
    }

}

@media only screen and (max-width: 550px) {
    .mediaNav {
        font-size: 20px !important;
    }

    .mediaContact > h2 {
        font-size: 25px !important;
    }
}